<!DOCTYPE html>
<html>
    <head>
        <title>Durandal</title>
        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="fragment" content="!">

		<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>		
		<link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("durandal.css"))">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/starterkit.css")">
		
        <script type="text/javascript">
            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement("style");
                var mq = "@@-ms-viewport{width:auto!important}";
                msViewportStyle.appendChild(document.createTextNode(mq));
                document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
            }
        </script>
    </head>
    <body>
        <div id="applicationHost">
            <div class="splash">
              <div class="message">
                  Webjars & Durandal Starter Kit 
              </div>
          </div>
        </div>
		<script data-main="@routes.Assets.at("app/durandalmain.js")" type="text/javascript" src="@routes.WebJarAssets.requirejs"></script>
    </body>
</html>